@import './fonts.css'; /*импорт подключил папку со шрифтами*/
body {
    padding: 0;
    margin: 0;
    border: none;
    font-family: 'roboto', sans-serif;
}
h1 {
    font-family: "Playfair Display", serif;
    font-weight: 600;
    font-size: 86px;
}
.navbar_sections {
    a { font-weight: 500;
        font-size: 24px;
        color: black;
    }
}
.sections {
    font-weight: 700;
    font-size: 24px;
}
.topic_title {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 86px;
}
.description_biography {
    font-weight: 500;
    font-size: 18px;
}
.bl {
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 26px;
}
.designers_upper {
    font-weight: 700;
    font-size: 16px;
}
.designers_lower {
    font-weight: 400;
    font-size: 16px;
}
.link_desc {
    font-weight: 700;
    font-size: 16px;
}
.link {
    font-weight: 400;
    font-size: 16px;
    color: black;
}
.quote {
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 32px;
}
.list {
    font-family: "Bitter", serif;
    font-weight: 400;
    font-size: 34px;
    list-style: none;
}

.footer {
    background-color: black;
    width: 100%;
    height: 190px;
    a,p {
        color: white;
    }
}
.footer_center {
    font-weight: 500;
    font-size: 18px;
}
.footer_mod {
    font-weight: 900;
    font-size: 24px;
}
.credits {
    font-weight: 400;
    font-size: 16px;
}

